<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/navbar}"></div>

<div class="container-fluid">
    <section class="top-container">
        <div class="showcase">
            <h1>Find your style</h1>
            <p>It's time to make a change!</p>
            <a th:href="@{/offers/all}" class="btn">Explore fresh offers</a>
        </div>
<!--        <div class="top-box top-box-a">-->
<!--            <h4>Времето в София</h4>-->
<!--            <h4><span id="box-a-temp">15</span><span>&#8451;</span></h4>-->
<!--            <img id="box-a-img" src="/images/profile.jpg" height="150px" alt="">-->
<!--        </div>-->
<!--        <div class="top-box top-box-b">-->
<!--            <h4>Времето в Созопол</h4>-->
<!--            <h4><span id="box-b-temp">27</span><span>&#8451;</span></h4>-->
<!--            <img id="box-b-img" src="/images/profile.jpg" height="150px" alt="">-->
<!--        </div>-->
    </section>
</div>
</body>
</html>