<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.getToken()}"/>
    <meta name="_csrf_header" th:content="${_csrf.getHeaderName()}"/>
    <title>Ecommerce</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar"></div>


<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div th:object="${offerDetails}" class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0" >

            <div class="card-body pb-1">
                <h5 class="card-title" th:text="*{name}"></h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text"><span><a th:href="@{/offers/brand/{id}(id=*{brandId})}" th:text="*{brandName}"></a> </span></div>
                    <div class="card-text"><span th:text="*{price}">• Price</span></div>
                    <div class="card-text"><span th:text="*{clotheType}">• Cloth type</span></div>
                    <div class="card-text"><span th:text="*{size.name()}">• Size</span></div>
                    <div class="card-text"><span th:text="*{createdAt}">• Offer created</span></div>
                    <div class="card-text"><span th:text="*{lastModified}">• Offer modified</span></div>
                    <div class="card-text"><span><a th:href="@{/users/{id}/details(id=*{sellerId})}" th:text="*{sellerUsername}"></a> </span></div>
                </li>
            </ul>
            <div class="card-body">
                <div sec:authorize="isAuthenticated()" id="addToCartSection">
                    <div class="input-group mb-3">
                        <input type="hidden" id="offerId" name="offerId" th:value="*{id}">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="minusBtn">-</button>
                        </div>
                        <input type="number" id="quantity" name="quantity" class="form-control" placeholder="1" aria-label=""
                               aria-describedby="basic-addon1" value="1">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="plusBtn">+</button>
                        </div>
                        <form th:action="@{/api/cart}" th:method="post" id="addToCartForm">
                            <input class="btn btn-success" type="submit" value="Buy">
                        </form>
                    </div>
                </div>
                <a class="card-link" th:if="${isAdmin} OR ${isSeller}" th:href="@{/offers/update/{id}(id = *{id})}">Update</a>
                <form th:if="${isAdmin} OR ${isSeller}" th:action="@{/offers/delete/{id}(id=*{id})}" th:method="post">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>

        </div>
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="*{imageUrl}" class="card-img-top"  alt="Item image">
        </div>
    </div>
</div>

<div>
             <footer> </footer>
</div>

<script src="/js/offer-details.js"></script>
</body>
</html>
